# ========================
# ENV FILES (SECRET)
# ========================
.env
.env.*

# ========================
# JAVA (SPRING BOOT)
# ========================
target/
*.jar
*.war

# ========================
# NODE (REACT / VITE)
# ========================
node_modules/
dist/
build/

# ========================
# LOG FILES
# ========================
logs/
*.log

# ========================
# IDE FILES
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db